<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sanjay.whatsappsaver">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/whatsappnewlauncher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/whatsappnewcircle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash_activity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About_activity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Video_activity"
            android:label="@string/title_activity_video_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Viewimage"
            android:label="@string/title_activity_viewimage"
            android:theme="@style/AppTheme.NoActionBar" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e2c0969c6c04373a32f16337b72225ca7b6c1471" />
    </application>

</manifest>